:host ::ng-deep {
  display: flex;

  > *:first-child {
    flex: 1 0 1rem;
  }

  > *:last-child:not(router-outlet) {
    flex: 1 0 1rem;
    padding-left: 1rem;
  }
}

.completed {
  text-decoration: line-through;
}
