:host {
  display: flex;

  > *:first-child {
    flex: 1 1 auto;
  }  

  > *:last-child:not(router-outlet) {
    flex: 0 0 auto;
    width: 30rem;
  }
}

.completed {
  text-decoration: line-through;
}