<div class="d-flex flex-column">
  <app-todo-create></app-todo-create>

  <app-loading-overlay *ngIf="todos?.isBusy" class="mt-3"></app-loading-overlay>

  <div *ngIf="todos?.items?.length; else emptyTemplate" class="list-group mt-3">
      <a 
        *ngFor="let todo of todos?.items" 
        class="list-group-item list-group-item-action" 
        [class.completed]="todo?.completed" 
        [routerLink]="todo?.id">
          {{ todo?.title }}
      </a>
  </div>
  <ng-template #emptyTemplate>
    <div class="alert alert-light" role="alert">
      No todos yet!
    </div>
  </ng-template>
  
</div>

<router-outlet></router-outlet>
