<div class="d-flex flex-column pr-3">
  <div class="form">
    <input #in type="text" placeholder="Add Todo" (keydown.enter)="add(in.value)">
  </div>

  <app-loading-overlay *ngIf="todos?.isBusy" class="mt-3"></app-loading-overlay>

  <div class="list-group mt-3">
      <a 
        *ngFor="let todo of todos?.items" 
        class="list-group-item list-group-item-action" 
        [class.completed]="todo?.completed" 
        [routerLink]="todo?.id">
          {{ todo?.title }}
      </a>
  </div>
  
</div>

<router-outlet></router-outlet>
