@import "global";

::ng-deep {
  .content-section {
    h2 {
      margin-top: $spacer * 3;
    }

    h3 {
      margin-top: $spacer * 2;
    }
  }
}

.nav-link {
  > a {
    text-decoration: none;
  }

  &.active {
    > a {
      color: white;
    }
  }
}
