<ng-container *ngIf="vm.changes$ | async">
  <form [formGroup]="vm.form">
    <h3 class="mb-4 mt-2">
      Samples View
      <span class="badge bg-secondary">{{ vm.changes$.value }}</span>
    </h3>

    <app-form-control
      [control]="vm.form.get('text')"
      label="Form.Text"
      class="d-block mb-3"
    >
      <ng-template #contentTemplate let-control>
        <input type="text" class="form-control" [formControl]="control" />
      </ng-template>
    </app-form-control>

    <app-form-control
      [control]="vm.form.get('bool')"
      label="Form.Bool"
      class="d-block mb-3"
    >
      <ng-template #contentTemplate let-control>
        <div class="input-group-text">
          <div class="form-check form-switch">
            <input
              class="form-check-input"
              type="checkbox"
              [formControl]="vm.form.get('bool')"
              id="boolean-switch"
            />
            <label class="form-check-label" for="boolean-switch">
              {{ vm.form.value.bool }}
            </label>
          </div>
        </div>
      </ng-template>
    </app-form-control>

    <app-form-control label="Text$" class="d-block mb-3">
      <input
        type="text"
        class="form-control"
        [value]="vm.text$.value"
        (change)="vm.text$.next($event.target.value)"
      />
    </app-form-control>

    <div class="btn-group mb-3 sticky-top">
      <button class="btn btn-success" (click)="vm.addSample()">
        + Add Sample
      </button>
    </div>

    <div class="d-flex flex-wrap gap-3" formArrayName="samples">
      <div *ngFor="let sample of vm.formSamples.controls; let i = index">
        <div class="card flex-grow-1" [vmContext]="{ index: i }">
          <app-sample-detail-view class="card-body"></app-sample-detail-view>
        </div>
      </div>
    </div>
  </form>
</ng-container>
