<ng-container *ngIf="vm.changes$ | async">
  <h6>
    CRUD Detail View
    <span class="badge bg-secondary">{{ vm.changes$.value }}</span>
  </h6>
  <div>
    <app-form-control label="Detail$.Id" class="d-block mb-3">
      <span class="input-group-text">{{
        (vm.detail$ | async).id || "..."
      }}</span>
    </app-form-control>

    <app-form-control label="Detail$.Name" class="d-block mb-3">
      <span class="input-group-text">{{
        (vm.detail$ | async).name || "..."
      }}</span>
    </app-form-control>

    <app-form-control label="Detail$.Description" class="d-block mb-3">
      <span class="input-group-text">{{
        (vm.detail$ | async).description || "..."
      }}</span>
    </app-form-control>

    <h6>CRUD Detail View -> Content Template</h6>

    <ng-content></ng-content>
  </div>
  <h6>CRUD Detail View -> Actions View</h6>
  <app-crud-actions-view></app-crud-actions-view>
</ng-container>
