<div class="p-3">
  <!-- header -->
  <header class="border-bottom mb-4 pb-4">
    <h1>NgToolkit</h1>
    <ul class="nav nav-pills mt-4">
      <li *ngFor="let item of topNavItems" class="nav-item">
        <a
          class="nav-link"
          [routerLink]="item.routerLink"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: item.routerLink ? false : true }"
          >{{ item.label }}</a
        >
      </li>
    </ul>
  </header>
  <!-- main -->
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
