<app-translation-lang-switch></app-translation-lang-switch>

<div class="input-group mb-3">
  <span class="input-group-text">Pipe Binding</span>
  <span class="input-group-text flex-grow-1">{{
    ("" | translate).translationSample.welcomeMessage
  }}</span>
</div>

<div class="input-group mb-3">
  <span class="input-group-text">Service Binding</span>
  <span class="input-group-text flex-grow-1">{{ welcomeMessage }}</span>
</div>

<div class="input-group mb-3">
  <span class="input-group-text">Parametrized</span>
  <span class="input-group-text flex-grow-1">{{
    ("" | translate).translationSample.welcomeMessageParametrized("Johny")
  }}</span>
</div>

<div class="input-group mb-3">
  <span class="input-group-text">Combined</span>
  <span class="input-group-text flex-grow-1">{{
    ("" | translate).translationSample.welcomeMessageCombined("Johny")
  }}</span>
</div>

<div class="input-group mb-3">
  <span class="input-group-text">Type-Safe</span>
  <span class="input-group-text flex-grow-1"
    >{{ ("" | translate).translationSample.translationLangLabel(langs.en) }},
    {{
      ("" | translate).translationSample.translationLangLabel(langs.de)
    }}</span
  >
</div>
