<ng-container *ngIf="vm.changes$ | async">
  <div>
    <div class="input-group mb-3">
      <span class="input-group-text">Id</span>
      <input
        type="text"
        [formControl]="vm.detail.get('id')"
        class="form-control"
      />
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">Name</span>
      <input
        type="text"
        [formControl]="vm.detail.get('name')"
        class="form-control"
      />
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">Description</span>
      <input
        type="text"
        [formControl]="vm.detail.get('description')"
        class="form-control"
      />
    </div>
    <ng-content></ng-content>
  </div>
  <app-crud-actions-view></app-crud-actions-view>
</ng-container>
