<ng-container *ngIf="vm.changes$ | async">
  <h6>
    CRUD Detail View
    <span class="badge bg-secondary">{{ vm.changes$.value }}</span>
  </h6>
  <div>
    <div class="input-group mb-3">
      <span class="input-group-text">Detail$.Id</span>
      <span class="input-group-text">{{ vm.detail$.value.id || "..." }}</span>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">Detail$.Name</span>
      <span class="input-group-text">{{ vm.detail$.value.name || "..." }}</span>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">Detail$.Description</span>
      <span class="input-group-text">{{
        vm.detail$.value.description || "..."
      }}</span>
    </div>
    <h6>CRUD Detail View -> Content Template</h6>
    <ng-content></ng-content>
  </div>
  <h6>CRUD Detail View -> Actions View</h6>
  <app-crud-actions-view></app-crud-actions-view>
</ng-container>
