<p>{{ ("" | translate).storeSample?.welcomeMessage }}</p>
<ng-container *ngIf="query.changes$ | async">
  <!-- toolbar -->
  <div class="btn-group" role="group">
    <button
      type="button"
      class="btn btn-secondary"
      (click)="updateList()"
      title="Refresh"
    >
      🔄
    </button>
  </div>
  <button (click)="num = num + 1">+1</button> {{ num }}
  <!-- list -->
  <ul
    *ngIf="query.storeSamplesNotEmpty; else emptyTemplate"
    class="list-group mt-3"
  >
    {{
      query.storeSamplesNotEmpty
    }}
    <li
      *ngFor="let item of query.state.storeSamples?.items"
      class="list-group-item"
    >
      {{ item.title }}
    </li>
  </ul>
  <ng-template #emptyTemplate>
    <p class="mt-3">No items.</p>
  </ng-template>

  <!-- loading overlay -->
  <div
    *ngIf="query.state.storeSamples?.busy"
    class="position-fixed"
    style="top: 50%; left: 50%; transform: translate(-50%, -50%)"
  >
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-container>
