<ng-container *ngIf="vm.changes$ | async">
  <h3 class="mb-4 mt-2">
    Samples View
    <span class="badge bg-secondary">{{ vm.changes$.value }}</span>
  </h3>

  <app-form-control
    [control]="vm.form.get('text')"
    label="SamplesVM.Form.Text"
    class="d-block mb-3"
  >
    <ng-template #contentTemplate let-control>
      <input type="text" class="form-control" [formControl]="control" />
    </ng-template>
  </app-form-control>

  <app-form-control [control]="vm.form.get('bool')" label="SamplesVM.Form.Bool">
    <ng-template #contentTemplate let-control>
      <div class="input-group-text">
        <div class="form-check form-switch">
          <input
            class="form-check-input"
            type="checkbox"
            [formControl]="vm.form.get('bool')"
            id="boolean-switch"
          />
          <label class="form-check-label" for="boolean-switch">
            {{ vm.form.value.bool }}
          </label>
        </div>
      </div>
    </ng-template>
  </app-form-control>

  <div class="d-flex gap-3">
    <app-sample-detail-view class="flex-grow-1"></app-sample-detail-view>
    <app-sample-detail-view class="flex-grow-1"></app-sample-detail-view>
  </div>
</ng-container>
